@*AAAA@(user: Form[UpdateUserForm])(implicit request: MessagesRequestHeader, flash: Flash)*@

@*AAAA@import helper._*@

@*AAAA@flash.get("success").getOrElse("")*@

@*AAAA@form(routes.UserController.updateUserHandle()) {*@
@*    @helper.CSRF.formField*@
@*    <input name="id" id="id" value="@user("id").value" type="hidden" />*@
@*    @inputText(user("name"))*@
@*    @inputText(user("address"))*@

@*    <div class="buttons">*@
@*        <input type="submit" value="Update User"/>*@
@*    </div>*@
@*}*@
